#HEADLINE11 { top: 25.43px !important; left: 221.94px !important; }
#HEADLINE12 { top: 50.74px !important; left: 0.00px !important; }
#HEADLINE13 { top: 50.74px !important; left: 36.99px !important; }
#HEADLINE14 { top: 50.74px !important; left: 73.98px !important; }
#HEADLINE15 { top: 50.74px !important; left: 110.97px !important; }
#HEADLINE16 { top: 50.74px !important; left: 147.96px !important; }
#HEADLINE17 { top: 50.74px !important; left: 184.95px !important; }
#HEADLINE18 { top: 50.74px !important; left: 221.94px !important; }
#HEADLINE19 { top: 75.05px !important; left: 0.00px !important; }
#HEADLINE20 { top: 75.05px !important; left: 36.99px !important; }
#HEADLINE21 { top: 75.05px !important; left: 73.98px !important; }
#HEADLINE22 { top: 75.05px !important; left: 110.97px !important; }
#HEADLINE23 { top: 75.05px !important; left: 147.96px !important; }
#HEADLINE24 { top: 75.05px !important; left: 184.95px !important; }
#HEADLINE25 { top: 75.05px !important; left: 221.94px !important; }
#HEADLINE26 { top: 100.30px !important; left: 0.00px !important; }
#HEADLINE27 { top: 100.30px !important; left: 36.99px !important; }
#HEADLINE28 { top: 100.30px !important; left: 73.98px !important; }
#HEADLINE29 { top: 100.30px !important; left: 110.97px !important; }
#HEADLINE30 { top: 100.30px !important; left: 147.96px !important; }
#HEADLINE31 { top: 100.30px !important; left: 184.95px !important; }
#HEADLINE32 { top: 100.30px !important; left: 221.94px !important; }
#HEADLINE35 { top: 126.06px !important; left: 0.00px !important; }
#HEADLINE33 { top: 126.06px !important; left: 36.99px !important; }
#HEADLINE34 { top: 126.06px !important; left: 73.98px !important; }
#HEADLINE36 { top: 126.06px !important; left: 110.97px !important; }
#HEADLINE37 { top: 126.06px !important; left: 147.96px !important; }
#HEADLINE38 { top: 126.06px !important; left: 184.95px !important; }
#HEADLINE39 { top: 126.06px !important; left: 221.94px !important; }
#HEADLINE40 { top: 151.37px !important; left: 0.00px !important; }
#HEADLINE41 { display: none !important; }
#SHAPE1 { top: 118.81px !important; left: 184.95px !important; }